<div id="detailsHeader" class="details-header">
    <div class="btn-back" style="cursor: pointer;" onclick="hideDetails()">Back</div>
    <div id="particles-background" class="vertical-centered-box"></div>
    <div id="particles-foreground" class="vertical-centered-box"></div>
    <div id="titleWrapper" class="title-wrapper">
        <div id="detailsTitle" class="lg-title">{{name}}</div>
        <div id="detailsSubheader" class="sm-title">{{subheader}}</div>
    </div>
</div>
<div id="iconRow" class="details-icons"></div>
<div id="detailsWrapper" class="details-wrapper">
    <div id="description">{{description}}</div>
    <!-- <a id="websiteLink" href="{{website-url}}">Go to website</a> -->
    <!-- <h4 id="relatedLinksHeader">Related links:</h4> -->
    <!-- <div id="relatedLinksContainer"></div> -->
</div>