extends layout

block content
  //- script(src='scripts/mouse-events.js')
  script(src='https://ajax.googleapis.com/ajax/libs/threejs/r84/three.min.js')
  script(src='scripts/renderers/Projector.js')
  script(src='scripts/renderers/CanvasRenderer.js')
  script(src='scripts/tween/tween.min.js')
  script(src='scripts/cube.js')