doctype html
html
  head
    title= 'Michael Pratt'
    link(rel='stylesheet', href='/styles/site.css')
    link(rel='stylesheet' href='styles/page.css')
    link(rel='stylesheet' href='styles/background.css')
    script(src='scripts/signature.js')
    //- script(src='scripts/content-loaded.js')
  body
    div(id='s1', class='img stars stars-small')
    div(id='n1', class='img nebula nebula1')
    div(id='s2', class='img stars stars-small2')
    div(id='n2', class='img nebula nebula2')
    div(id='s3', class='img stars stars-small3')
    div(id='s4', class='img stars stars-large')

    block content