.img {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.nebulae {
  background-image: url(../images/neb.png), url(../images/neb-flipped.png);
  background-size: cover, cover;
  background-position: -25% 0%, 100% 0%;
  background-blend-mode: color-dodge;
  height: 110%;
  width: 110%;
  z-index: 2;
}

.stars {
  height: 120%;
  width: 120%;
  bottom: -5%;
  left: -10%;
}

.stars-small {
  z-index: 1;
  background-image: url('../images/sm-stars.png');
}

.stars-small2 {
  z-index: 3;
  background-image: url('../images/sm-stars-flipped.png');
}

.stars-small3 {
  top: 15%;
  z-index: 5;
  background-image: url('../images/sm-stars-flipped2.png');
}

.stars-large {
  height: 140%;
  width: 140%;
  bottom: -20%;
  z-index: 6;
  background-image: url('../images/lg-stars.png');
}