html {
  height: 100%;
  width: 100%;
}

body {
  /* background-color: #131D29; */
  background: -webkit-radial-gradient(#0F1720, #131D29);
  background: -o-radial-gradient(#0F1720, #131D29);
  background: -moz-radial-gradient(#0F1720, #131D29);
  background: radial-gradient(#0F1720, #131D29);
  margin: 0px;
  overflow: hidden;
  font-family: Verdana, Geneva, sans-serif;
}

#pageContent {
  position: absolute;
  color: white;
  top: 0px;
  max-height: 100vh;
  overflow: hidden;
  z-index: 1000;
}

h1 {
  margin: 50px;
}

p {
  margin: 50px;
  font-size: 20px;
}

#left {
  width: 100px;
  height: 100px;
  background-color: red;
  color: blue;
  position: absolute;
  top: 40%;
  left: 20%;
}

#left:hover {
  cursor: pointer;
}

#right {
  width: 100px;
  height: 100px;
  background-color: red;
  color: blue;
  position: absolute;
  top: 40%;
  right: 20%;
  cursor: pointer;
}

#right:hover {
  cursor: pointer;
}