.img {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* transition: 680ms ease-out; */
}

.nebula {
  height: 110%;
  width: 110%;
  top: 5%;
}

.nebula1 {
  left: -10%;
  z-index: 2;
  background-image: url('../images/neb.png');
}

.nebula2 {
  width: 150%;
  height: 125%;
  top: -5%;
  right: -25%;
  z-index: 4;
  background-image: url('../images/neb-flipped.png');
  background-blend-mode: color-dodge;
}

.stars {
  height: 120%;
  width: 120%;
  bottom: -5%;
  left: -10%;
  /* opacity: 0.7; */
}

.stars-small {
  z-index: 1;
  background-image: url('../images/sm-stars.png');
}

.stars-small2 {
  z-index: 3;
  background-image: url('../images/sm-stars-flipped.png');
}

.stars-small3 {
  top: 15%;
  z-index: 5;
  background-image: url('../images/sm-stars-flipped2.png');
}

.stars-large {
  height: 140%;
  width: 140%;
  bottom: -20%;
  z-index: 6;
  background-image: url('../images/lg-stars.png');
}